.DS_Store

xcuserdata/

Makefile
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
install-sh
ldns/common.h
ldns/config.h
ldns/config.h.in
ldns/config.h.in~
ldns/net.h
ldns/util.h
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
packaging/ldns-config
packaging/libldns.pc
